body{
  font-size: 14px;
  line-height: 25px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.location_map{
  top: 40px; margin-top: 5px; padding: 10px; position: absolute;
  /* background: rgb(255 255 255 / 36%); */
}

.location_map h3{ 
  font-size: 16px; 
  margin-bottom: 5px;
  text-transform: uppercase; 
}

.location_map input{
  height: 40px;
  padding: 10px;
  background: #fff;
  border: 0;
  width: 100%;
  padding-right: 45px;
}

input:focus{
  outline: 0;
}

.location_form {
  position: relative;
  max-width: 380px;
    width: 380px;
}

.location_form button{height: 40px;
  height: 40px;
  width: 40px;
  /* border-radius: 50%; */
  border-color: transparent;
  cursor: pointer;
  background: blue;
  color: #fff;
  /* margin: 0 10px; */
  /* position: absolute; */
  right: 0;
  top: 0;
}