.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Register {
  .input {
    width: 100%;
    padding: 1em;
    line-height: 1.4;
    background-color: @grey-lightest;
    border: 1px solid @grey;
    border-radius: 3px;
  }
}
