@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

/* primary-color = #674CAE */

body{
  font-size: 14px;
  line-height: 25px;
  font-family: 'Comfortaa', cursive;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
}

section{
  padding: 70px 0;
}

input{
  height: 40px;
    border-radius: 0;
    border-color: #ccc;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.btn {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  outline: 0;
  background: #9096e4;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

header {
  background: #674CAE !important;
  box-shadow: none !important;
}

/*landing page */
.landing_pg, .user_role{
  height: 100vh;
    background: #674CAE;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* loaction map*/

.location_map{
  top: 40px; margin: 5px; padding: 10px; position: absolute;
}

.location_map h3{ 
  font-size: 16px;
    margin-bottom: 5px;
    font-weight: normal; 
}

.location_map input{
  height: 40px;
  padding: 10px;
  background: #fff;
  border: 0;
  width: auto;
  padding: 10px;
  margin-bottom: 0;
}

input:focus{
  outline: 0;
}

.location_form {
  background: rgb(0 0 0 / 50%);
  padding: 10px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  gap: 5px
}

.location_form button{
  height: 40px;
  width: 40px;
  border-color: transparent;
  cursor: pointer;
  background: #674CAE;
  color: #fff;
  border-radius: 50%;
  right: 0;
  top: 0;
}

.autofill input{
  max-width: 300px;
  width: 300px;
}

/* card */

.card{
  background: none !important;
    box-shadow: none !important;
    color: #fff !important;
    font-weight: normal !important;
}

.icon svg{
  font-size: 80px;
  color: rgba(255,255,255,.4);
  transition: all .5s ease-in-out !important;
}

.mapInputForm {
  position: absolute;
  top: 7%;
  left: 0.7%;
  display: flex;
  align-items: center;
  background-color: rgba(102, 102, 204, 0.5);
  opacity: 1;
  border-radius: 10px;
  padding: 15px 15px 15px 15px;
  text-align: center;
  display: block;
  width: 450px;
  height: auto;
  justify-content: center;
}

.h1 {
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  color: #6666cc;
}

.form {
  position: relative;
  z-index: 1;
  background: #d6d7e7;
  border-radius: 10px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: left;
  font-family: "Comfortaa", cursive;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 0px 15px 0px 15p;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Comfortaa", cursive;
}

.button {
  width: 120px;
  height: 35px;
  padding: 5px;
  border-radius: 8px;
  border: 2px;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: #6666cc;
  text-align: center;
  vertical-align: baseline;
}

.dropDown {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Comfortaa", cursive;
}

.descriptionInput {
  height: 100px;
}

.inputField {
  width: 400px;
  height: 25px;
  padding: 5px 15px 5px 20px;
  border-radius: 8px;
  border-color: blue;
  border: 2px;
  margin-button: 10px;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 17px;
  color: black;
  text-align: left;
  vertical-align: baseline;
}

.validationPrompt {
  font-size: 10px;
}

.checkbox {
  olor: #6666cc;
}

.mapInputField {
  width: 400px;
  height: 25px;
  padding: 5px;
  border-radius: 8px;
  border-color: blue;
  border: 2px;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 17px;
  color: black;
  text-align: center;
  vertical-align: baseline;
}

.cardComponent {
  margin-bottom: 15px;
  font-weight: bold;
}

.homePageCard {
  display: grid;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #6666cc;
  text-align: center;
  vertical-align: center;
}

.homePageCardsSpace {
  flexdirection: row;
  aligncontent: center;
  justifycontent: center;
  spacing: 2;
  margintop: 5%;
}
.card:hover .icon svg{
  color: #fff;
  transform: scale(1.1);
}

