@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
body {
    background: linear-gradient(90deg, #eaecf0 0%,  #eaecf0  100%);
  }
  
  .login {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    font-family: 'Comfortaa', cursive;
  }
  
  .authForm {
    text-align: center;
    margin-top: 50px;
    color: var(--background);
}

  .form {
    position: relative;
    z-index: 1;
    background: rgba(var(--accent-light), 0.5) ;
    border-radius: 10px;
    max-width: 360px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
  }
  
  .form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
  }
  
  .form input:focus {
    border: 1px solid #ccc;
  }

  .authForm button{
    margin: 10px 0 0;
  }

  .authForm button:hover::before,
  .authForm button::before{
    background: var(--background);
  }
  
  .form p.error {
    margin: 0 0 10px 10px;
    text-align: left;
    font-size: 10px;
    color: red;
  }
  