.details {
        margin: 5px;
        border-radius: 5%;
        position: absolute;
        width: auto;
        height: auto;
        background-color:aqua;
}
.details:hover{
    background-color: rgb(111, 158, 158);
}



.details button {
   
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    font-weight: 300;
    border-radius: 4px;
    font-size: 13px;
    width: 40%;
    height: auto;
    background-color: #9147ff;
    color: white;
    padding: 0 20px;
    margin: 10px;
    padding: 10px;

}
.details button:hover {
    background-color: #772ce8;
}

.details input {

    padding: 7px;
    border-radius: 6px;
    font-size: 16px;
    background: #fbfbfb;
    border: 2px solid transparent;
    height: 30px;
    box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
}

.details input:focus {
    border: 2px solid #000;
    border-radius: 4px;
}
Marker icon{
    width: 100px;
}